.transfer-box{
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    text-align: center;
    box-shadow: 0 0 10px #ccc;
}

input, select, button {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
}